<ion-content class="modal-back">
    <ion-card class='popover'>
        <ion-card-content>
            <ion-item>
                <ion-icon name="checkmark-circle" item-right (click)="updateSelectedEditable(selectedEditableId, selectedEditableCategory, updatedEditable)"></ion-icon>
                <ion-icon name="close" item-right (click)="dismissSelectedEditable()"></ion-icon>
            </ion-item>
            <ion-item *ngIf="selectedEditableCategory==='dob'">
                <ion-datetime displayFormat="DD MMMM YYYY" min="1970" [(ngModel)]="updatedDate">
                </ion-datetime>
                <ion-label>{{selectedEditable}}</ion-label>
            </ion-item>
            <ion-item *ngIf="selectedEditableCategory==='weight' || selectedEditableCategory==='height'">
                <ion-label floating>Current {{selectedEditableCategory}} is {{selectedEditable}}{{selectedEditableUnit}}</ion-label>
                <ion-input type="text" [(ngModel)]="updatedEditable"></ion-input>
            </ion-item>

            <!--<form [ngFormModel]="myForm" (submit)="updateSelectedEditable()">

                <ion-item>
                    <ion-label stacked>Email:</ion-label>
                    <ion-input type="text" ngControl="editableItem"></ion-input>
                </ion-item>

            </form>-->

        </ion-card-content>
    </ion-card>
</ion-content>
